<center><h2>Basico de Python (Estrutura de dados)
</center>

<b>1. Tuplas ou Lista: </b>
Uma Tupla é uma sequencia ordenada de zero ou mais referencias de objeto. Assim como as strings, as tuplas também são imutáveis.

In [2]:
#Exemplo 1.1
planeta = "marte", "venus", "terra"

In [3]:
planeta

('marte', 'venus', 'terra')

caso queira mudar algo na tupla, converta ela em uma lista

In [4]:
#exemplo 1.2
planetas = list(planeta)

In [6]:
type(planetas)

list

1.1 alguns metodos uteis para se usar com listas.

In [8]:
# exemplo 1.1.1 append(x) - Anexa o item x no final da lista
planetas.append("plutao")

In [9]:
planetas

['marte', 'venus', 'terra', 'plutao', 'plutao']

In [11]:
# exemplo 1.1.2 count(x) - retorna o número de vezes que o item x ocorreu na lista
planetas.append("terra")
planetas.count("terra")

3

In [14]:
# exemplo 1.1.3 insert(i,x) - insere o item x dentro da lista na posição de índice int i
planetas.insert(0, "planeta do goku")

In [15]:
planetas

['planeta do goku',
 'planeta do goku',
 'marte',
 'venus',
 'terra',
 'plutao',
 'plutao',
 'terra',
 'terra']

In [16]:
#exemplo 1.1.4 remove(x) remove a primeira ocorrencia a partir da esquerda do item x da lista, 
#ou lança exceção valueerror se x não for encontrado.
planetas.remove("plutao")

In [17]:
planetas

['planeta do goku',
 'planeta do goku',
 'marte',
 'venus',
 'terra',
 'plutao',
 'terra',
 'terra']

In [19]:
planetas.remove("vegeta")

ValueError: list.remove(x): x not in list

In [20]:
#exemplo 1.1.5 sort() classifica lista alterando
planetas.sort()

In [21]:
planetas

['marte',
 'planeta do goku',
 'planeta do goku',
 'plutao',
 'terra',
 'terra',
 'terra',
 'venus']

Observação: se faz muito interessante entender, em python a metodos e atributos, quando se usa () é metodo, se nao tiver é um atributo.

In [22]:
#exemplo 1.1.6 len(x) o metodo len será muito usado, serve para sabemos o tamanho da lista que estamos trabalhando.
len(planetas)

8

<b>Exercicio 1.</b> Hummm interessante, agora que vimos nossa primeira estrutura de dados, vamos fazer um exercicio bem legal.
Voce tem uma tupla chamada feira.
A feira contém: banana, pera, batata, uva, cebola, alho e açucar.

Teu chefe te mandou a feira, e pediu para voce contrar esses produtos, um deles não da para comprar lá remova ele da lista. No caminho ele te ligou mandou voce também comprar maça e cenoura.

Ele é mega chato, e mandou voce separar em duas sacolas, o que é fruta e o que é legume e entregar tudo ordenado.

<b>feira = "banana", "pera", "batata", "uva", "cebola", "alho", "açucar""</b>

<b>Exercicio2.</b> Lista: (4,5,3,4,56,3,2,31,1,7,8,9,0,234,7,8,9). Orde a lista mostre os valores repitidos.

<b>2. Dicionários: </b> Chamado de dict, é uma coleção desordenada de zero ou mais pares de chave-valor, no qual as chaves são referencia de objetos que se referem a objetos hashable e os valores são refrencia de objetos referidos a objetos de qualquer tipo. Dicionários são mutáveis; portanto, podemos facilmente adicionar ou remover itens, mas já que eles são desordenados, não possuem noção da posição de índice e, logo, não podem ser fatiados ou receber passos.

In [23]:
# exemplo 2.1
d1 = dict({"id": 1948, "name": "Washer", "size": 3})

In [25]:
d1

{'id': 1948, 'name': 'Washer', 'size': 3}

In [26]:
dados = ['Thiago', 'Guaruja']

In [27]:
d1 = dict({'342453': dados})

In [25]:
d1

{'342453': ['Thiago', 'Guaruja']}

In [28]:
#exemplo 2.2 - copy() - cria uma copia do dict
dc = d1.copy()

In [29]:
dc

{'342453': ['Thiago', 'Guaruja']}

In [31]:
#exemplo 2.3 - get(k) -  retorna uma chave do valor associado de k ou None, se k não estiver em dict
print(dc.get('name'))

None

In [33]:
#exemplo 2.4 - items() retorna uma visualização de todas as chaves em dict
d1.items()

dict_items([('342453', ['Thiago', 'Guaruja'])])

In [34]:
for x in d1.items():
    print(x)

('342453', ['Thiago', 'Guaruja'])

In [37]:
#exemplo 2.5 - keys() retorna uma visualização de todas as chaves em dict
d1.keys()

dict_keys(['342453'])

In [38]:
#exemplo 2.6 - values() -  retorna uma visualização de todos os valores em dict
d1.values()

dict_values([['Thiago', 'Guaruja']])

In [39]:
for a in d1.values():
    print(a)

['Thiago', 'Guaruja']

In [45]:
for chave,valor in d1.items():
    print(chave)
    print(valor)

342453
['Thiago', 'Guaruja']

Exercicio 2. vamos voltar a feira, crie um dicionario, com os seguintes itens: banana = 0.98, maçã = 7.00, pera = 5.00, cenoura = 3.5
Apos montar o dicionario, quero que fa